---
import { Image } from "astro:assets";
import gsi from "../img/gsi.png";
---

<p-slide class="cover">
  <h1>Designing for Cultural Inclusion</h1>
  <p-note class="center">
    <h6>CSS and accessibility as key tools</h6>
  </p-note>
  <Image
    src={gsi}
    alt="green software italia logo"
    class="alter-image-size"
    style="--image-start-size: 5em; margin-block-start: 4rem;"
  />
  <p-note class="center bottom-fist-page text-sub-section">
    <span>Marco Pollacci</span>
    <span>19/06/2025 - Team System, Milano</span>
  </p-note>
</p-slide>
