---
import { Image } from "astro:assets";
import refs from "../img/logo-wcp-2025.png";
import logoCover from "../img/logo-wcp-cover.png";
---

<p-slide class="cover grid-cover">
  <div>
    <Image
      src={refs}
      alt="wpmi logo"
      class="alter-image-size"
      style="--image-start-size: 3em;border-radius: 0.1em;"
    />
    <h6>22 NOVEMBRE 2025</h6>
    <h1>Designing for Cultural Inclusion</h1>
    <h6>CSS and accessibility as key tools</h6>
    <h6>Marco Pollacci</h6>
  </div>
  <div>
    <Image
      src={logoCover}
      alt="word camp pisa 2025 logo"
      class="alter-image-size"
      style="--image-start-size: 12em;border-radius: 0.1em;"
    />
  </div>
</p-slide>
<style lang="scss">
  .grid-cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: end;
    > div {
      h1 {
        background: initial;
        -webkit-text-fill-color: #fff;
        color: #fff;
        margin-block-start: 2.5rem;
        margin-block-end: 1rem;
        text-align: start;
      }
      h6 {
        margin-block-start: 0;
        margin-block-end: 5rem;
        &:first-of-type,
        &:last-of-type {
          margin-block: 0;
          color: #fab1ff;
        }
      }
    }
  }
</style>
