<p-slide class="cover">
  <h1>Designing for Cultural Inclusion</h1>
  <p-note class="center">
    <h6>CSS and accessibility as key tools</h6>
  </p-note>
  <p-note class="center bottom-fist-page text-sub-section">
    <span>Marco Pollacci</span>
    <span>19/06/2025 - Team System, Milano</span>
  </p-note>
</p-slide>
