---
import { Image } from "astro:assets";
import bfe25logo from "../img/logo-bfe.svg";
---

<p-slide class="cover">
  <h1>Designing for Cultural Inclusion</h1>
  <p-note class="center">
    <h6>CSS and accessibility as key tools</h6>
  </p-note>
  <Image
    src={bfe25logo}
    alt="bologna frontend logo"
    class="alter-image-size"
    style="--image-start-size: 2em; margin-block-start: 5rem;"
  />
  <p-note class="center bottom-fist-page text-sub-section">
    <span>Marco Pollacci</span>
    <span>07/10/2025 - Bologna</span>
  </p-note>
</p-slide>
