<p-slide class="cover">
  <h1>Designing for Cultural Inclusion</h1>
  <p-note class="center">
    <h6>CSS and accessibility as key tools</h6>
  </p-note>
  <div>
    <p>DevFest <span>Pescara</span></p>
    <p>November 8 and 9</p>
  </div>
  <p-note class="center bottom-fist-page text-sub-section">
    <span>Agent MP</span>
    <span>08-09/11/2025 - Pescara</span>
  </p-note>
</p-slide>
<style lang="scss">
  div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: fit-content;
    align-items: center;
    color: #000;
    font-family: var(--talk-poppins-black);
    font-weight: 900;
    line-height: 3.5rem;
    margin-inline: auto;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    margin-block-start: 5rem;
    text-transform: uppercase;
    span {
      color: #3089ff;
    }
    p {
      margin: 0;
      font-size: 3rem;
      &:last-child {
        font-weight: 400;
      }
    }
  }
</style>
