---
import PNotes from "../components/PNotes.astro";
---

<p-slide>
  <ul data-coding style="margin-block-end: 0.3em;">
    <li><code>prefers-reduced-transparency 🪟</code></li>
  </ul>
</p-slide>
<p-slide>
  <pre
    class="small-line"
    data-label-file="prefers-reduced-transparency.css">
 <code is:raw style="font-size: .8em" class="language-scss">
    .glass-card {
      backdrop-filter: blur(12px);
      background: rgba(255, 255, 255, 0.2);
    }

    @media (prefers-reduced-transparency: reduce) {
      .glass-card {
        backdrop-filter: none;
        background: rgba(255, 255, 255, 0.95);
      }
    }
</code></pre>
  <PNotes>
    <p>
      Supported in Chrome (118+) and Safari/iOS. Useful for users with Irlen
      syndrome or visual
      hypersensitivity who struggle with blurred/translucent UI elements like
      glassmorphism cards, frosted sidebars, or modal overlays.
    </p>
  </PNotes>
</p-slide>
